*
{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	font-weight: bold;
}
body
{
	background: url(stars.gif);
	min-height: 100px;
}
.logo img
{
	float: left;
	width: 150px;
	height: auto;
	margin-left: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
}
section
{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
section:before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #0a2a43, transparent);
	z-index: 10000;
}
section:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0a2a43;
	z-index: 10000;
	mix-blend-mode: color;
}	
section img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
#text
{
	position: relative;
	color: #fff;
	font-size: 10em;
	z-index: 1;
}
#road
{
	z-index: 2;
}
.h1
{
	color: white;
	font-family: Century Gothic;
	font-weight: bold;
	margin-left: 200px;
	margin-right: auto;
}
.center1
{
	display: block;
	margin-left: 300px;
	margin-right: auto;
	width: 250px;
	height: 304px;
}
.p1
{
	color: white;
	font-family: Century Gothic;
	text-align: center;
	margin-left: 100px;
	margin-right: 600px
}
.content1 .textBox1 a
{
	display: inline-block;
	margin-top: 20px;
	margin-left: 350px;
	padding: 8px 20px;
	background: #3E488C;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none
}
.h2
{
	color: white;
	font-family: Century Gothic;
	font-weight: bold;
	margin-left: auto;
	margin-right: 315px;
	text-align: right;
}
.center2
{
	display: block;
	margin-left: auto;
	margin-right: 300px;
	text-align: right;
	width: 250px;
	height: 304px;
}
.p2
{
	color: white;
	font-family: Century Gothic;
	margin-left: 600px;
	margin-right: 100px;
	text-align: center;
}
.content2 .textBox2 a
{
	display: inline-block;
	margin-right: 350px;
	text-align: right;
	padding: 8px 20px;
	background: #3E488C;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none
}
.h3
{
	color: white;
	font-family: Century Gothic;
	font-weight: bold;
	margin-left: 250px;
	margin-right: auto;
	text-align: left;
}
.center3
{
	display: block;
	margin-left: 300px;
	margin-right: auto;
	width: 250px;
	height: 304px;
}
.p3
{
	color: white;
	font-family: Century Gothic;
	text-align: center;
	margin-left: 100px;
	margin-right: 600px
}
.content3 .textBox3 a
{
	display: inline-block;
	margin-top: 20px;
	margin-left: 350px;
	text-align: right;
	padding: 8px 20px;
	background: #3E488C;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none
}
.h4
{
	color: white;
	font-family: Century Gothic;
	font-weight: bold;
	margin-left: auto;
	margin-right: 245px;
	text-align: right;
}
.center4
{
	display: block;
	margin-left: auto;
	margin-right: 300px;
	text-align: right;
	width: 250px;
	height: 304px;
}
.p4
{
	color: white;
	font-family: Century Gothic;
	margin-left: 600px;
	margin-right: 100px;
	text-align: center;
}	
.content4 .textBox4 a
{
	display: inline-block;
	margin-left: auto;
	margin-right: 350px;
	text-align: right;
	padding: 8px 20px;
	background: #3E488C;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none
}
.h5
{
	color: white;
	font-family: Century Gothic;
	font-weight: bold;
	margin-left: 305px;
	margin-right: auto;
	text-align: left;
}
.center5
{
	display: block;
	margin-left: 300px;
	margin-right: auto;
	width: 250px;
	height: 304px;
}
.p5
{
	color: white;
	font-family: Century Gothic;
	text-align: center;
	margin-left: 100px;
	margin-right: 600px
}
.content5 .textBox5 a
{
	display: inline-block;
	margin-top: 20px;
	margin-left: 350px;
	padding: 8px 20px;
	background: #3E488C;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none
}
.h6
{
	color: white;
	font-family: Century Gothic;
	font-weight: bold;
	margin-left: auto;
	margin-right: 310px;
	text-align: right;
}
.center6
{
	display: block;
	margin-left: auto;
	margin-right: 300px;
	text-align: right;
	width: 250px;
	height: 304px;
}
.p6
{
	color: white;
	font-family: Century Gothic;
	margin-left: 600px;
	margin-right: 100px;
	text-align: center;
}
.content6 .textBox6 a
{
	display: inline-block;
	margin-left: auto;
	margin-right: 350px;
	padding: 8px 20px;
	background: #3E488C;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none
}
.h7
{
	color: white;
	font-family: Century Gothic;
	font-weight: bold;
	margin-left: 290px;
	margin-right: auto;
	text-align: left;
}
.center7
{
	display: block;
	margin-left: 300px;
	margin-right: auto;
	text-align: left;
	width: 250px;
	height: 304px;
}
.p7
{
	color: white;
	font-family: Century Gothic;
	text-align: center;
	margin-left: 100px;
	margin-right: 600px
}
.content7 .textBox7 a
{
	display: inline-block;
	margin-top: 20px;
	margin-left: 350px;
	padding: 8px 20px;
	background: #3E488C;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none
}	
.h8
{
	color: white;
	font-family: Century Gothic;
	font-weight: bold;
	margin-left: auto;
	margin-right: 295px;
	text-align: right;
}
.center8
{
	display: block;
	margin-left: auto;
	margin-right: 300px;
	text-align: right;
	width: 250px;
	height: 304px;
}
.p8
{
	color: white;
	font-family: Century Gothic;
	margin-left: 600px;
	margin-right: 100px;
	text-align: center;
}
.content8 .textBox8 a
{
	display: inline-block;
	margin-left: auto;
	margin-right: 350px;
	padding: 8px 20px;
	background: #3E488C;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none
}
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #020B48;
    color: #fff;
}
